body {
    background-color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
}

article, footer, header, menu, nav, section {
    display:block;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #6b7770;
    font-size: 13pt;
    line-height: 2em;
}

#logo {
    background-color: #5e8daf; 
    float:left;
    padding-top: 14px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

#languagePicker {
    float:right;
}

/* START NAV */
body {
    padding-top: 3.25em;
}
#nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #5A7B93;
    width: 100%;
    height: 55px;
    line-height:normal;
    text-align: center;
    font-weight: 700;
    font-size: 10pt;
    text-transform: uppercase;
    cursor: default;
    color: #ffffff;
}

#nav ul {
    position: relative;
    z-index: 1001;
}

#nav li {
    display: inline-block;
    margin: 0 0.5em 0 0.5em;
    top: 0;
    position: relative;
    -moz-transition: top .15s ease-in-out;
    -webkit-transition: top .15s ease-in-out;
    -o-transition: top .15s ease-in-out;
    -ms-transition: top .15s ease-in-out;
    transition: top .15s ease-in-out;
}

#nav li > ul {
    display: none;
}

#nav li a, #nav li span {
    -moz-transition: background-color .075s ease-in-out, color .075s ease-in-out;
    -webkit-transition: background-color .075s ease-in-out, color .075s ease-in-out;
    -ms-transition: background-color .075s ease-in-out, color .075s ease-in-out;
    transition: background-color .075s ease-in-out, color .075s ease-in-out;
    position: relative;
    display: block;
    text-decoration: none;
    color: #ffffff;
    top: -6px;
    padding: 12.5px 1.5em 12.5px 1.5em;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    outline: 0;
}

#nav li:hover, #nav li.active {
    top: 3px;
}

#nav li:hover a, #nav li:hover span, #nav li a.current {
    background: #44687D;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#nav li.active a, #nav li.active span {
    background: #C1CAC5;
    color: #fff;
}
/* END NAV */

/* START BANNER */

.col-2 {
    width: 50%;
    float:left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#banner {
    position: relative;
    background-image: url("/img/electrum_entrance.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

#banner .content {
    position: relative;
    padding: 3em 2em 3em 2em;
    background:rgba(255,255,255,0.85);
    text-align:center;
}

#indexLogo {
    width: 100%;
    max-width: 20em;
}

#indexNews {
    text-align: left;
    padding: 0.5em 1em 0.5em 2em;
    background-color: rgba(0,0,0,.5);
    color: white;
}

#indexNews .title {
    text-decoration: underline;
    /*font-style: italic;*/
    font-size: 32px;
}

#indexNews ul {
    list-style-type: none;
    padding-left:0;
}

#indexNews ul li {

}

#indexNews ul li a {
    text-decoration:none;
    color:white;
    font-weight:800;
    display:block;
}

/* END BANNER */

/* START MD SCREENS */
@media screen and (max-width: 980px) {
    #nav {
        display: none;
    }

    .col-2 {
        width: 100%;
        float:left;
    }
    
    body {
        padding-top: 44px;
    }
    
    body.homepage {
        padding-top: 0;
    }
    
    #page-wrapper {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        padding-bottom: 1px;
    }
    
    #titleBar {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 44px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10001;
        background-color: #607990;
        /*background-image: url("images/overlay.png");*/
    }
    
    #titleBar .title {
        display: block;
        position: relative;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.25em;
        line-height: 44px;
        color: #fff;
        z-index: 1000;
        text-align: center;
    }
    
    #titleBar .toggle {
        position: absolute;
        left: 0;
        top: 0;
        width: 80px;
        height: 60px;
        z-index: 1001;
    }
    
    #titleBar .toggle:before {
        display: inline-block;
        font-family: FontAwesome;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        left: 0;
        top: 0;
        background: #44687D;
        width: 44px;
        height: 44px;
        content: '\f0c9';
        color: #fff;
        text-align: center;
        line-height: 44px;
        font-size: 20px;
    }
    
    #titleBar .toggle:active:before {
        background-color: #a1cd9b;
    }
    
    #navPanel {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: translateX(-275px);
        -webkit-transform: translateX(-275px);
        -ms-transform: translateX(-275px);
        transform: translateX(-275px);
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 275px;
        z-index: 10002;
        background-color: #607990;
        background-image: url("images/overlay.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        background-image: url("images/overlay.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        background-image: url("images/overlay.png"), -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        background-image: url("images/overlay.png"), linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        background-repeat: repeat, no-repeat;
        background-size: auto, 100% 100%;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.25em;
        box-shadow: inset -3px 0px 10px 0px rgba(0, 0, 0, 0.25);
    }
    
    #navPanel nav {
        position: relative;
        z-index: 1000;
    }
    
    #navPanel .link {
        display: block;
        color: inherit;
        text-decoration: none;
        height: 44px;
        line-height: 44px;
        padding: 0 1em 0 1em;
        color: #888;
        color: rgba(255, 255, 255, 0.5);
        border-top: solid 2px rgba(87, 93, 89, 0.15);
        font-size: 0.8em;
    }
    
    #navPanel .link:first-child {
        border-top: 0;
    }
    
    #navPanel .indent-1 {
        display: inline-block;
        width: 1em;
    }
    
    #navPanel .indent-2 {
        display: inline-block;
        width: 2em;
    }
    
    #navPanel .indent-3 {
        display: inline-block;
        width: 3em;
    }
    
    #navPanel .indent-4 {
        display: inline-block;
        width: 4em;
    }
    
    #navPanel .indent-5 {
        display: inline-block;
        width: 5em;
    }
    
    #navPanel .depth-0 {
        color: #fff;
    }
    
    body.navPanel-visible #page-wrapper {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }
    
    body.navPanel-visible #titleBar {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }
    
    body.navPanel-visible #navPanel {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
/* END MD SCREENS */

/* OLD */

.bg-1 {
    background-color: #44687D;
    /* Kiselblå */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

.img-responsive {
    background: url(../img/bkpam2187204_kista_g5q0646.jpg) fixed no-repeat center;
    height: 45em;
    background-size: cover;
}

@media screen and (max-width: 510px) {
    .electrum-img {
        width: 100%;
        margin-top: 20%
    }
    .img-responsive {
        height: 40%;
    }
}