<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>{{ .Site.Title }}</title>
    {{ $fa := resources.Get "css/font-awesome.min.css" | minify }}
    {{ $main := resources.Get "css/main.css" | minify }}
    {{ $styles := slice $fa $main | resources.Concat "css/bundle.css" | resources.Fingerprint "sha512" }}
    <link rel="stylesheet" href="{{$styles.Permalink}}" integrity="{{$styles.Data.Integrity}}" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
</head>
<body class="preload">
    <nav id="nav">
        <a id="logo" href="/"><img src="/img/Logo-IN-Monokrom-Svart.png" height="30"/></a>
        </a>
        <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <li class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}current{{end}}">
                    <a href="{{ .URL }}" title="{{ .Title }}">
                        {{ .Name }}
                    </a>
                    {{ if .HasChildren }}
                        {{ range .Children }}
                        <ul>
                            <li><a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
                        </ul>
                        {{ end }}
                    {{ end }}
                </li>
            {{ end }}

            {{ if .Site.IsMultiLingual }}
            <li id="languagePicker">
                {{ range .Site.Languages }}
                    {{ if ne . $.Site.Language }}
                        {{ range $.Translations }}
                        <a href="{{ .Permalink }}" title="Language">{{i18n "switchLanguage"}}</a>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </nav>